h4{
    color: deeppink;
    border: 2px solid wheat;
}
button{
    color: red;
    font-size: 20pt;
}
p{
    color: sienna;
    margin-left: 9px;
}
input[type=week]:focus{
    background: blue;
}
.classeH2{
    font-size: 60pt;
    color: chartreuse;
}